.nsm7Bb-HzV7m-LgbsSe {
  border: none;
}

.nsm7Bb-HzV7m-LgbsSe,
.nsm7Bb-HzV7m-LgbsSe:hover,
.nsm7Bb-HzV7m-LgbsSe:focus {
  background-color: #000 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background-color: #000;
}

.nsm7Bb-HzV7m-LgbsSe:hover .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background-color: #000 !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  color: white;
}
